Repository yanyongyu/githubkit, pull requests merged in 2023-12, with the labels that each got.

#62 Feature: Add caching for HTTP responses
  githubkit/config.py
  githubkit/core.py
  githubkit/github.py
  pyproject.toml
Labels: enhancement

#68 Fix: `copilot seat details` schema fixed
  githubkit/rest/code_scanning.py
  githubkit/rest/codespaces.py
  githubkit/rest/copilot.py
  githubkit/rest/licenses.py
  githubkit/rest/models.py
  githubkit/rest/orgs.py
  githubkit/rest/repos.py
  githubkit/rest/secret_scanning.py
  githubkit/rest/security_advisories.py
  githubkit/rest/types.py
  pyproject.toml
Labels: bug, schema, Rest API

#65 Fix: `PullRequestSimplePropHead` label field can be `null`
  githubkit/rest/models.py
  githubkit/rest/types.py
  pyproject.toml
Labels: bug, schema, Rest API

#69 Fix: project v2 item field change type may be labels
  githubkit/webhooks/models.py
  pyproject.toml
Labels: bug, schema, WebHook

#72 Fix: pull request head label and user may be null
  githubkit/rest/activity.py
  githubkit/rest/models.py
  githubkit/rest/types.py
  pyproject.toml
Labels: bug, schema, Rest API
